<head><%= javascript_include_tag "user_script.js" %></head>
<%# user row %>

<div class = "dashboard">
  <div class = "row-fluid">

<%#
  Make everything but the header a partial and render that based on how many panels one has
  user.panels.each do |f|
  end 
%>

<%# dash-header %>

    <h1 style="text-align:left"><b>98Lumens solar panel dashboard</b></h1>
    <div class= "span2" id="user-pic">
      <p>
        <%= image_tag avatar_url(@user), :size =>"85x90"%>
      </p>
    </div>

    <div class="span3" id="user-name">
        <p class="lead" id="name-text">
          <div class="twitter-update"><h4 style="float:left;padding-right:10px;"><%= @user.name %></h4>
          </div>
        </p>
        <% if !@panel.energy_data.empty? %>
        <p style="font-size:16px;padding-top:5px;">
          Location of solar panel: <b><%= @location %></b>
          
          <%# To change solar panel (change to dropdown later).
              Need to have this post to sandbox action with index
              param. 
          %>
          <% if @user.panels.length >1 %>
            <%= form_tag({:controller => "users", :action=>"sandbox", :method=>"post"}, {:class=>'panel-form'}) do %> 
              <!--<div class="field">
                <label>Panel # :</label>
                <%= text_field_tag :index %>
              </div>-->
            <%= collection_select(:energy_data, :panel_id, @user.panels.all, :panel_num, :name, options={:prompt=>"Veiwing "+ @panel.name}, html_options={:class => 'panel-select', :onchange => ("$(this).parent('form').submit();")}) %>
              <div class="actions">
              </div>
            <% end %>
          <% end %>

          </ul>
        </p>
        <% end %>
    </div>

    <div id="map_canvas" style="float:left;width:33%;height:100px"></div>


    <% if !@user.panels.first.energy_data.empty? %>
    <div id="weather">
      <%= @location %>
      <%= @weather %>
    </div>
    <% end %>

    <% if @panel.energy_data.empty? %>
      <p style="font-size:16px">
        <%= link_to "Learn how you can go solar and activate this dashboard", consult_path, :class=>"btn btn-success btn-large dash-btn" %>
      </p>
    <% end %>

</div>

  <%# --------------- %>

  <%# render a partial %>

<% if !@panel.energy_data.empty? %>

  <%# does this pass the panel object? how do I access it on the other side? @panel? %>
  <%= render :partial => "dash_content", :locals => { :panel => @user.panels.where(:panel_num=>1) } %>

<% end %>

</div>