<div id="header">
  <div id="header-left" style="float:left;display:block;text-alight:right;width:50%">
  </div>
  <div id="header-right" style="float:right;display:block;text-alight:left;width:50%">
      <h1><%= @user.Location %></h1>
  </div>
</div>


<div class = "row-fluid">
  <div class = "span9">
    <div class= "span2">
      <p>
        <%= image_tag avatar_url(@user) %>
      </p>
      <p>
        <%= @user.name %>
      </p>

      <p>
        <%= @user.email %>
      </p>
      <button class= "btn btn-medium btn-block" id="perf">Performance</button>
      <button class= "btn btn-medium btn-block" id="finance">Finance</button>
      <button class= "btn btn-medium btn-block" id="green">Environment</button>
    
      <br>
      <table class="table">
        <tr>
          <th># panels</th>
          <td>1</td>
        </tr>
        <tr>
          <th>Date purchased</th>
          <td>1/2012</td>
        </tr>
      </table>
    </div>

    <div class="span9">
      <p>
        <a id="day" href="#">Day</a> /
        <a id="week" href="#">Week</a> /
        <a id="year" href="#">Year</a>
      </p>
      <p>
        <div id="year-graph", style="width:600px;height:300px"></div>
        <div id="week-graph", style="width:600px;height:300px;display:none"></div>
        <div id="day-graph", style="width:600px;height:300px;display:none"></div>
      </p>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span6 offset2">
    <p>
      <h2>Cumulative metrics</h2>
      <table class="table table-striped">
        <tr>
          <th>Clean energy produced</th>
          <td><%= number_with_precision(@user.calculate_overall_power_for, :precision =>2) %> Wh</td>
        </tr>
        <tr>
          <th>Money accrued</th>
          <td><%= number_with_precision(@user.calculate_overall_money_for, :precision =>2) %> dollars </td>
        </tr>
        <tr>
          <th>Emissions captured</th>
          <td><%= number_with_precision(@user.calculate_overall_emissions_for, :precision =>2) %> kg </td>
        </tr>
        <tr>
          <th>Trees planted</th>
          <td><%= number_with_precision(@user.calculate_overall_trees_for, :precision =>2) %> trees</td>
        </tr>
        <tr>
          <th>Cars taken off the road</th>
          <td><%= number_with_precision(@user.calculate_overall_cars_for, :precision =>2) %> cars</td>
        </tr>
      </table>
    </p>
<!--    <p>
    	<% if @user.energy_data.any? %>
          <h2> Last 10 energy-producing hours </h2>
          <table class="table table-striped">
            <tr>
              <th>Day</th>
              <th>Solar output</th>
              <th>Emissions saved</th>
              <th>Fraction of a tree planted</th>
              <th>Money accrued</th>
            </tr>
                <%= render :partial => 'energy_data/energy_datum.html.erb', :collection => @energy_data, :as => :energy %>
          </table>
        <% end %>
    </p> -->
  </div>
</div>

<% javascript_tag do %>
 
<% end %>

<script type="text/javascript">

$(function () {

    var exValue = 1;

     var xyData = <%= @monthTotals.to_json %>;
     var chartLabel = "Solar output (Wh)"
     var weekXY = <%= @weekTotals.to_json %>;
     var dayXY = <%= @dayTotals.to_json %>;
     $('#header-left').html('<h1>Performance</h1>');

     $('#green').click(function() {
      xyData  = <%= @em_monthTotals.to_json %>;
      weekXY = <%= @em_weekTotals.to_json %>;
      dayXY = <%= @em_dayTotals.to_json %>;
      chartLabel = "Emissions captured (kg C02)"
      $('#header-left').html('<h1>Environment</h1>')
      doThis();
     });

     $('#finance').click(function() {
      xyData  = <%= @fi_monthTotals.to_json %>;
      weekXY = <%= @fi_weekTotals.to_json %>;
      dayXY = <%= @fi_dayTotals.to_json %>;
      chartLabel = "Money accrued (dollars)"
      $('#header-left').html('<h1>Finance</h1>')
      doThis();
     });

    $('#perf').click(function() {
      xyData  = <%= @monthTotals.to_json %>;
      weekXY = <%= @weekTotals.to_json %>;
      dayXY = <%= @dayTotals.to_json %>;
      chartLabel = "Solar output (Wh)"
      $('#header-left').html('<h1>Performance</h1>')
      doThis();
     });

     doThis();

  function doThis() {

     $.plot($("#year-graph"),
        [
         {
           label: chartLabel,
           data: xyData,
           lines: {
             show: true,
             barWidth: 0.5,
             align: "center"
           }   
         }
      ],
      {
        xaxis: {
          ticks: [
            [1, "Jan"],
            [2, "Feb"],
            [3, "Mar"],
            [4, "Apr"],
            [5, "May"],
            [6, "Jun"],
            [7, "Jul"],
            [8, "Aug"],
            [9, "Sep"],
            [10, "Oct"],
            [11, "Nov"],
            [12, "Dec"],
          ]
        }   
      }
     )

     $.plot($("#week-graph"),
        [
         {
           label: chartLabel,
           data: weekXY,
           lines: {
             show: true,
             barWidth: 0.5,
             align: "center"
           }   
         }
      ],
      {
        xaxis: {
          ticks: [
            [0, "Monday"],
            [1, "Tuesday"],
            [2, "Wednesday"],
            [3, "Thursday"],
            [4, "Friday"],
            [5, "Saturday"],
            [6, "Sunday"],
          ]
        }   
      }
     )

    $.plot($("#day-graph"),
        [
         {
           label: chartLabel,
           data: dayXY,
           lines: {
             show: true,
             barWidth: 0.5,
             align: "center"
           }   
         }
      ],
      {
        xaxis: {

        }   
      }
     )
  }
});
</script>

<%= link_to 'Back', users_path %>