<p id="notice"><%= notice %></p>

<div class = "row-fluid">
  <div class = "span9">
    <div class= "span2">
      <p>
        <%= image_tag avatar_url(@user) %>
      </p>
      <p>
        <%= @user.name %>
      </p>

      <p>
        <%= @user.email %>
      </p>
    </div>

    <div class="span4">
      <p>
        <div id="bar" style="width:600px;height:300px"></div>
      </p>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span6 offset2">
    <p>
    	<% if @user.energy_data.any? %>
          <h2> Last 10 days </h2>
          <table class="table table-striped">
            <tr>
              <th>Day</th>
              <th>Solar output</th>
            </tr>
            <tr>
              <%= render :partial => "energy_data/energy_datum.html.erb", :collection => @energy_data, :as => :energy %>
            </tr>
          </table>

        <% end %>
    </p>
  </div>
</div>
<% javascript_tag do %>
  xyData = "<%=raw @monthsArray.to_json %>";
<% end %>

<script type="text/javascript">

   $(function () {
     /*xAxis = @monthTotals.keys;
     yAxis = @monthTotals.values;
    
     xyData = []

     <% @monthTotals.each do |key, value| %>
       xyData << [key, value];
     <% end %>*/

     var xyData = <%= @monthsArray.to_json %>;

     $.plot($("#bar"),
        [
         {
           label: "Solar output (kWh)",
           data: xyData,
           bars: {
             show: true,
             barWidth: 0.5,
             align: "center"
           }   
         }
      ],
      {
        xaxis: {
          ticks: [
            [1, "Jan"],
            [2, "Feb"],
            [3, "Mar"],
            [4, "Apr"],
            [5, "May"],
            [6, "Jun"],
            [7, "Jul"],
            [8, "Aug"],
            [9, "Sep"],
            [10, "Oct"],
            [11, "Nov"],
            [12, "Dec"],
          ]
        }   
      }
     )
   });
 </script>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
