<!-- user row -->
<div class = "row-fluid">
    <div class= "span2" id="user-pic">
      <p>
        <%= image_tag avatar_url(@user) %>
      </p>
    </div>

    <div class="span4" id="user-name">
        <p class="lead" id="name-text">
          <h4><%= @user.name %></h4>
        </p>
        <p>
          Joined: <%= @user.created_at.month %>-<%= @user.created_at.day %>-<%= @user.created_at.year %>
        </p>
    </div>
</div>

  <!-- chart and highlight row -->
  <div class="row-fluid">
    <div class="span9">
      <p>
        <a id="day" href="#">Day</a> /
        <a id="week" href="#">Week</a> /
        <a id="year" href="#">Year</a>
      </p>
      <p>
        <div id="year-graph", style="width:600px;height:300px"></div>
        <div id="week-graph", style="width:600px;height:300px;display:none"></div>
        <div id="day-graph", style="width:600px;height:300px;display:none"></div>
      </p>
    </div>
  </div>
</div>

      <div class="btn-group btn-group-vertical">
        <button class= "btn btn-block" id="perf">Performance</button>
        <button class= "btn btn-block" id="finance">Finance</button>
        <button class= "btn btn-block" id="green">Environment</button>
      </div>

<!-- Table for all metrics
<div class="row-fluid">
  <div class="span6 offset2">
    <p>
      <h2>Cumulative metrics</h2>
      <table class="table table-striped">
        <tr>
          <th>Clean energy produced</th>
          <td><%= number_with_precision(@user.calculate_overall_power_for, :precision =>2) %> Wh</td>
        </tr>
        <tr>
          <th>Money accrued</th>
          <td><%= number_with_precision(@user.calculate_overall_money_for, :precision =>2) %> dollars </td>
        </tr>
        <tr>
          <th>Equivalent emissions captured</th>
          <td><%= number_with_precision(@user.calculate_overall_emissions_for, :precision =>2) %> kg </td>
        </tr>
        <tr>
          <th>Equivalent trees planted</th>
          <td><%= number_with_precision(@user.calculate_overall_trees_for, :precision =>2) %> trees</td>
        </tr>
        <tr>
          <th>Equivalent cars taken off the road</th>
          <td><%= number_with_precision(@user.calculate_overall_cars_for, :precision =>2) %> cars</td>
        </tr>
      </table>
    </p>
-->

<!--    <p>
    	<% if @user.energy_data.any? %>
          <h2> Last 10 energy-producing hours </h2>
          <table class="table table-striped">
            <tr>
              <th>Day</th>
              <th>Solar output</th>
              <th>Emissions saved</th>
              <th>Fraction of a tree planted</th>
              <th>Money accrued</th>
            </tr>
                <%= render :partial => 'energy_data/energy_datum.html.erb', :collection => @energy_data, :as => :energy %>
          </table>
        <% end %>
    </p> -->

<% javascript_tag do %>
 
<% end %>

<script type="text/javascript">

$(function () {

    var exValue = 1;
    var green = false;
    var finance = false;
    var perf = true;

     var xyData = <%= @monthTotals.to_json %>;
     var chartLabel = "Solar output (Wh)"
     var weekXY = <%= @weekTotals.to_json %>;
     var dayXY = <%= @dayTotals.to_json %>;
     $('#header-left').html('<h1>Performance</h1>');

     var placeholder = $("#year-graph");
     var data = xyData;
     var options = {
        lines: {show:true},
        xaxis: {tickDecimals:0, tickSize:1},
        label: chartLabel
      };

      $('#day').click(function(){
        data = switchProf(0);
        doThis();
      });

      $('#week').click(function(){
        data = switchProf(1);
        doThis();
      });

      $('#year').click(function(){
        data = switchProf(2);
        doThis();
      });


     $('#green').click(function() {
      green = true;
      perf = false;
      finance = false;
      xyData  = <%= @em_monthTotals.to_json %>;
      weekXY = <%= @em_weekTotals.to_json %>;
      dayXY = <%= @em_dayTotals.to_json %>;
      chartLabel = "Emissions captured (kg C02)"
      $('#header-left').html('<h1>Environment</h1>')
      doThis();
     });

     $('#finance').click(function() {
      green = false;
      perf = false;
      finance = true;
      xyData  = <%= @fi_monthTotals.to_json %>;
      weekXY = <%= @fi_weekTotals.to_json %>;
      dayXY = <%= @fi_dayTotals.to_json %>;
      chartLabel = "Money accrued (dollars)"
      $('#header-left').html('<h1>Finance</h1>')
      doThis();
     });

    $('#perf').click(function() {
      green = false;
      perf = true;
      finance = false;
      xyData  = <%= @monthTotals.to_json %>;
      weekXY = <%= @weekTotals.to_json %>;
      dayXY = <%= @dayTotals.to_json %>;
      chartLabel = "Solar output (Wh)"
      $('#header-left').html('<h1>Performance</h1>')
      doThis();
     });

     doThis();

  function switchProf(timeGran) {
    var dataReturn = [];
    if (perf) {
      switch (timeGran) {
        case 0:    //day
          dataReturn = <%= @dayTotals.to_json %>
          break;
        case 1:    //month
          dataReturn = <%= @weekTotals.to_json %>
          break;
        case 2:    //year
          dataReturn = <%= @monthTotals.to_json %>
          break;
      } 
    }
    else if (green) {
      switch (timeGran) {
        case 0:    //day
          dataReturn = <%= @em_dayTotals.to_json %>
          break;
        case 1:    //month
          dataReturn = <%= @em_weekTotals.to_json %>
          break;
        case 2:    //year
          dataReturn = <%= @em_monthTotals.to_json %>
          break;
      } 
    }
    else {
      switch (timeGran) {
        case 0:    //day
          dataReturn = <%= @fi_dayTotals.to_json %>
          break;
        case 1:    //month
          dataReturn = <%= @fi_weekTotals.to_json %>
          break;
        case 2:    //year
          dataReturn = <%= @fi_monthTotals.to_json %>
          break;
      } 
    }

    return dataReturn;
  }

  function doThis() {

     $.plot(placeholder,[data], options);

     /*$.plot($("#week-graph"),
        [
         {
           label: chartLabel,
           data: weekXY,
           lines: {
             show: true,
             barWidth: 0.5,
             align: "center"
           }   
         }
      ],
      {
        xaxis: {
        }   
      }
     )

    $.plot($("#day-graph"),
        [
         {
           label: chartLabel,
           data: dayXY,
           lines: {
             show: true,
             barWidth: 0.5,
             align: "center"
           }   
         }
      ],
      {
        xaxis: {
        }   
      }
     )*/
  } 
});
</script>

<%= link_to 'Back', users_path %>