<p id="notice"><%= notice %></p>

<div class = "row-fluid">
  <div class = "span9">
    <div class= "span2">
      <p>
        <%= image_tag avatar_url(@user) %>
      </p>
      <p>
        <%= @user.name %>
      </p>

      <p>
        <%= @user.email %>
      </p>
    </div>

    <div class="span4">
      <p>
        <div id="bar" style="width:600px;height:300px"></div>
        <div id="bar2" style="width:600px;height:300px"></div>
        <div id="bar3" style="width:600px;height:300px"></div>
      </p>
    </div>
  </div>
</div>

<p>
  <%= @user.calculate_overall_emissions_for %>
  <br>
  <%= @user.calculate_overall_power_for %>
</p>

<div class="row-fluid">
  <div class="span6 offset2">
    <p>
    	<% if @user.energy_data.any? %>
          <h2> Last 10 days </h2>
          <table class="table table-striped">
            <tr>
              <th>Day</th>
              <th>Solar output</th>
              <th>Emissions saved</th>
            </tr>
            <tr>
              <%= render :partial => "energy_data/energy_datum.html.erb", :collection => @energy_data, :as => :energy %>
            </tr>
          </table>

        <% end %>
    </p>
  </div>
</div>

<% javascript_tag do %>
 
<% end %>

<script type="text/javascript">

   $(function () {
     /*xAxis = @monthTotals.keys;
     yAxis = @monthTotals.values;
    
     xyData = []Y

     <% @monthTotals.each do |key, value| %>
       xyData << [key, value];
     <% end %>*/

     var xyData = <%= @monthTotals.to_json %>;
     var weekXY = <%= @dayTotals.to_json %>;
     var dayXY = <%= @user.consolidate_day %>

     $.plot($("#bar"),
        [
         {
           label: "Solar output (Wh)",
           data: xyData,
           bars: {
             show: true,
             barWidth: 0.5,
             align: "center"
           }   
         }
      ],
      {
        xaxis: {
          ticks: [
            [1, "Jan"],
            [2, "Feb"],
            [3, "Mar"],
            [4, "Apr"],
            [5, "May"],
            [6, "Jun"],
            [7, "Jul"],
            [8, "Aug"],
            [9, "Sep"],
            [10, "Oct"],
            [11, "Nov"],
            [12, "Dec"],
          ]
        }   
      }
     )

     $.plot($("#bar2"),
        [
         {
           label: "Solar output (Wh)",
           data: weekXY,
           bars: {
             show: true,
             barWidth: 0.5,
             align: "center"
           }   
         }
      ],
      {
        xaxis: {
          ticks: [
            [0, "Monday"],
            [1, "Tuesday"],
            [2, "Wednesday"],
            [3, "Thursday"],
            [4, "Friday"],
            [5, "Saturday"],
            [6, "Sunday"],
          ]
        }   
      }
     )

    $.plot($("#bar3"),
        [
         {
           label: "Solar output (Wh)",
           data: dayXY,
           bars: {
             show: true,
             barWidth: 0.5,
             align: "center"
           }   
         }
      ],
      {
        xaxis: {

        }   
      }
     )
   });
 </script>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<%= debug @user.consolidate_day %>
