<!--<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  	<div class="container">
  		<div id="nav-items">
  			<%= render 'devise/menu/registration_items' %>
  			<%= render 'devise/menu/login_items' %>
 	 	</div>	
    </div>
  </div>
</header>-->

  <div class="container">
    <div class="row"> 
      
      <!--logo starts-->
      <div class="span4 logo"><a href=<%= root_path %>><%= image_tag("98lumens logo.png", :size=>"148x80") %></a></div>
      <!--logo ends-->
      
      <div class="span8 clearfix"> 
        
        
        <!--menu starts-->
        <div id="smoothmenu" class="ddsmoothmenu">
          <ul>
            <li><%=link_to "Home", '#' %></li>
            <li><%=link_to "Learn", '#' %></a>
              <ul>
                <li><a href="">98lumens Solar Process</a></li>
                <li><%=link_to "FAQs", '#' %></li>
              </ul>
            </li>
            <li><%=link_to "Benefits", '#' %></li>
 			<li><%=link_to "About", about_path %> </li>
            <li><%= link_to "Contact", '#' %></li>
            <% if signed_in? %>
                <div class="dropdown pull-right btn">
                  <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                    <b>Account</b>
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <%= link_to("Dashboard", user_path(current_user)) %>
                    <%= link_to("Logout", destroy_user_session_path, :method => :delete) %>
                  </ul>
              </div>
            	
            <% else %>
            	<li><%= link_to("Sign in", new_user_session_path) %></li>
            <% end %>
          

          </ul>

        </div>
        <!--menu ends--> 
        
      </div>
    </div>
  </div>


<script type="text/javascript">
  $('.dropdown-toggle').dropdown()
</script>