<!DOCTYPE html>
<html>
<head>
  <title>98lumens - Solar power for everyone!</title>
  <%= javascript_include_tag "jquery-1.8.1.js" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "flot/jquery.flot.js" %>
  <%= javascript_include_tag "rails.js" %>
  <%= javascript_include_tag "flot-test.js" %>
  <%= javascript_include_tag "updateHTML.js" %>
  <%= javascript_include_tag "flot/jquery.flot.time.js" %>
  <%= javascript_include_tag "flot/jquery.flot.resize.js" %>
  <%= javascript_include_tag "flot/jquery.flot.stack.js" %>
  <%= javascript_include_tag "jquery.elastislide.js" %>
  <%= javascript_include_tag "jquery.flexslider-min.js" %>
  <%= javascript_include_tag "jquery.prettyPhoto.js" %>
  <%= javascript_include_tag "show_helpers.js" %>
  <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tooltip.js"></script>
  <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-dropdown.js"></script>
  <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-collapse.js"></script>
  <script type='text/javascript' src='https://www.google.com/jsapi'></script>
  <script type="text/javascript">
      google.load('visualization', '1', {packages: ['gauge']});
  </script>
  <!--Fav and touch icons-->
  <link rel="shortcut icon" href="icons/favicon.ico">
  <link rel="apple-touch-icon" href="icons/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="icons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="icons/apple-touch-icon-114x114.png">
  <link rel="icon" href="http://www.98lumens.com/favicon.ico" type="icons/favicon.ico">
</head>
<body>
  <%= include_gon %>
  <section id="header">
    <%= render 'layouts/header' %>
  </section>
  <section id="content">
    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
          </div>
        <br>
      <%= render 'layouts/footer' %>
  </section>
    <script type="text/javascript">
      <% if alert.nil? %>
        $(".alert").hide()
      <% else %>
        $(".alert").show()
      <% end %>
    </script>
</body>
</html>
